:root {
  color-scheme: dark !important;
  accent-color: var(--native-dark-accent-color);
}

html a:visited, 
html a:visited > *:not(svg) {
  color: var(--native-dark-visited-link-color) !important;
}

a[ping]:link,
a[ping]:link > *:not(svg),
:link:not(cite) {
  color: #fff !important;
  /*color: var(--native-dark-link-color) !important;*/
}

html cite,
html cite a:link,
html cite a:visited {
  color: var(--native-dark-cite-color) !important;
}

figure:empty {
  opacity: var(--native-dark-opacity) !important;
}

img,
image {
  filter: brightness(var(--native-dark-brightness)) !important;
}
        


/* CUSTOM -- CUSTOM -- CUSTOM -- CUSTOM */
/* CUSTOM -- CUSTOM -- CUSTOM -- CUSTOM */
/* CUSTOM -- CUSTOM -- CUSTOM -- CUSTOM */
/* v2.0 */

:root {
  /* vv options vv */  
  
  --duplicate-booking: #493e3a;
  --whatsapp-height: 35%;
  --owntrips-colour: #2f3b39;
  --alt-owntrips-colour: #352634;
  --phonecopy-colour: #e44d4d;
  --phonenums-colour: #a1c2d3;
  --whatsapp-tripcolour: #659a60;
  
  /* ^^ options ^^ */  
  
  --new-yellow: #b97229;
  --new-green: #00763F;
  --bk-new: var(--new-yellow);
  --bk-finish: var(--new-yellow);

  --darker-phonenums: color-mix(in srgb, var(--phonenums-colour), black 40%);
  --evendarker-phonenums: color-mix(in srgb, var(--phonenums-colour), black 70%);

  --d-phonecopy: color-mix(in srgb, var(--phonecopy-colour), black 40%);
  --dd-phonecopy: color-mix(in srgb, var(--phonecopy-colour), black 70%);

  --shadow1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  /* disable transitions */
  transition: none !important;
}

.whatsapp-highlight {
  outline: 2px solid var(--whatsapp-tripcolour);
  filter: brightness(110%);
  box-shadow: var(--shadow1);
}

.flex.bg-white.align-items-center.justify-content-between.w-full.shadow-2.z-1 {
  background: #000 !important;
}

.setting-buttonbase {
  box-shadow: var(--shadow1);
  position: fixed;
  z-index: 99;
  inset: auto 180px 30px auto;
  width: 150px;
  height: 45px;

  text-align: center;
  font-family: "Segoe UI";
  font-weight: bold;
  justify-content: center;

  padding: 6px;
  background: var(--native-dark-bg-color);
  color: white;

  border-radius: 6px;
  outline: 2px solid white;
  border:none;

  transition: 0.2s all ease-in-out;
}

.container-bookinginfo {
  inset: auto 1000px 30px auto;
  width: 900px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 1px solid black !important;
}

.container-bookinginfo span {
  font-weight: lighter;
}

.container-bookinginfo:hover {
  filter: none !important;
  cursor: default !important;
}

.setting-fetchbookings {
  inset: auto 580px 30px auto;
}

.setting-checkapptrips {
  inset: auto 380px 30px auto;
}

.setting-newchecker {
  inset: auto 180px 30px auto;
}

.setting-buttonbase {
  position: fixed;
  z-index: 99;
  width: 150px;
  height: 45px;

  text-align: center;
  font-family: "Segoe UI";
  font-weight: bold;
  justify-content: center;

  padding: 6px;
  background: var(--native-dark-bg-color);
  color: white;

  border-radius: 6px;
  outline: 2px solid white;
  border:none;

  transition: 0.2s all ease-in-out;
}

.setting-buttonbase:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.owntrip {
  background-color: var(--owntrips-colour) !important;
}

.alt-owntrip {
  background-color: var(--alt-owntrips-colour) !important;
}

.notif-arrived {
  outline: 1px solid var(--arrived-orange);
}

.cust_phonecopy, a.cust_phonecopy, a[href^="tel:"].cust_phonecopy {
  color: var(--phonecopy-colour) !important;
  background-color: var(--dd-phonecopy) !important;
  outline: 1px solid var(--d-phonecopy) !important;
}

a[href^="tel:"] {
  color: var(--phonenums-colour) !important;
  background-color: var(--evendarker-phonenums) !important;
  outline: 1px solid var(--darker-phonenums) !important;
  border-radius: 3px !important;
}

/* NEW */
html[native-dark-active] .p-tag.p-tag-warning {
  background-color: var(--bk-new) !important;
}

/* FINISHING */
span.p-tag.p-component.p-tag-warning {
  background-color: var(--bk-finish) !important;
}

/* DUPLICATE BOOKING */
html[native-dark-active] td.bg-yellow-100 {
  background-color: var(--duplicate-booking) !important;  
}

.chat-details-modal .messages-container {
  background: #313134 !important;
}


/* WHATSAPP TEXTBOX */

/* RECEIVER */
.flex.flex-column.w-max.p-2.gap-2.border-round-md.shadow-2.relative {
  background: #1c1c1f !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

/* SENDER */
.flex.flex-column.w-max.p-2.gap-2.border-round-md.shadow-2.relative:has(small) {
  background: #292930 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.flex.flex-column.w-max.p-2.gap-2.border-round-md.shadow-2.relative small {
  font-size: 0.8rem;
  padding: 0.5rem;
  background-color: #383847;
  border-radius: 6px;
  margin-bottom: 6px;
}

/* TRANSFER MODAL */
.p-3.flex.align-items-center.cursor-pointer.hover\:surface-100 span {
  color: #fff !important;
}

.flex.flex-column.h-full .p-3,
.overflow-y-auto.flex-1.px-3,
.flex.align-items-center.justify-content-between.p-3.border-round,
p.text-sm.mb-2 {
  background-color: var(--native-dark-bg-color) !important;
  color: #fff !important;
}

.p-inputtext {
  background-color: var(--native-dark-bg-color) !important;
}

button.p-button.p-component.w-6.font-bold.p-button-secondary {
  background-color: #1c1c1f !important;
}

button.p-button.p-component.w-6.font-bold.p-button-secondary span {
  color: #fff !important;
}

span.bg-orange-500.border-circle.flex.align-items-center.justify-content-center {
  background-color: #cf7429 !important;
  border-color: #cf7429 !important;
}

.bg-green-500.border-circle.flex.align-items-center.justify-content-center {
  background-color: #51a861 !important;
  border-color: #51a861 !important;
}

/* END OF WSP */


/* WHATSAPP HIDE */
.flex-column.fixed.overflow-hidden.z-5.md\:w-30rem.border-round-lg.surface-100.shadow-4.chat-container {
  transition: all 0.5s ease;
}

.flex-column.fixed.overflow-hidden.z-5.md\:w-30rem.border-round-lg.surface-100.shadow-4.chat-container {
  height: var(--whatsapp-height);
}

.flex-column.fixed.overflow-hidden.z-5.md\:w-30rem.border-round-lg.surface-100.shadow-4.chat-container:has(.p-button.p-button-danger:hover) {
  outline: 4px dotted white;
  filter: opacity(20%);
}

/* WHATSAPP OPTIONS */
button.p-button.p-component.p-button-text.p-button-icon-only {
  color: white !important;
}

/* FAVORITE DRIVER TEXT */
button.p-button.p-component.p-button-rounded.p-button-text span.p-badge.p-component.p-badge-no-gutter {
  color: #fff !important;
}

i.pi.pi-check {
  color: #aee8bf !important;
}

html[native-dark-active] .p-badge.p-badge-warning {
  background: var(--new-yellow) !important;
}

span.bg-red-500.border-circle.border-2.md\:border-none.border-white.w-1rem.md\:w-2rem.h-1rem.md\:h-2rem.flex.align-items-center.justify-content-center {
  background: #cb3838 !important;
}

span.bg-orange-500.border-circle.border-2.md\:border-none.border-white.w-1rem.md\:w-2rem.h-1rem.md\:h-2rem.flex.align-items-center.justify-content-center {
  background: var(--new-yellow) !important;
}

span.bg-green-500.border-circle.border-2.md\:border-none.border-white.w-1rem.md\:w-2rem.h-1rem.md\:h-2rem.flex.align-items-center.justify-content-center {
  background: #84be52 !important;
  outline: 4px solid #c3deab;
}

/* DRIVER PAGE BT */
.p-paginator-page.p-paginator-element.p-link.p-paginator-page-start.p-highlight,
.p-paginator-page.p-paginator-element.p-link.p-paginator-page-end.p-highlight,
button.p-paginator-page.p-paginator-element.p-link.p-highlight {
  background-color: #395c43 !important;
}

/*HEADER TEXT*/
h6.MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap {
  color: #fff !important;
}

/* CHAT DRIVER NAMES */
.flex.flex-nowrap.justify-content-between.align-items-center.border-1.surface-border.border-round.p-3.cursor-pointer.select-none.hover\:surface-hover.transition-colors.transition-duration-150 span {
  color: white !important;
}

.flex.flex-nowrap.justify-content-between.align-items-center.border-1.surface-border.border-round.p-3.cursor-pointer.select-none.hover\:surface-hover.transition-colors.transition-duration-150:hover {
  border: 2px solid white !important;
}


/* BUTTONS COLORS */

.MuiButton-contained {
  background: var(--new-green) !important;
  filter: saturate(50%);
}

/* ROW HIGHLIGHT */
tr.p-selectable-row:hover {
  filter: brightness(150%);
}

/* BOOKINGS */
.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd {
  background-color: #303030 !important;
}

/* CUSTOM -- CUSTOM -- CUSTOM -- CUSTOM */
/* CUSTOM -- CUSTOM -- CUSTOM -- CUSTOM */
/* CUSTOM -- CUSTOM -- CUSTOM -- CUSTOM */