:root {
  color-scheme: dark !important;
  accent-color: var(--native-dark-accent-color);
}

html a:visited,
html a:visited>*:not(svg) {
  color: var(--native-dark-visited-link-color) !important;
}

a[ping]:link,
a[ping]:link>*:not(svg),
:link:not(cite) {
  color: #fff !important;
  /*color: var(--native-dark-link-color) !important;*/
}

html cite,
html cite a:link,
html cite a:visited {
  color: var(--native-dark-cite-color) !important;
}

figure:empty {
  opacity: var(--native-dark-opacity) !important;
}

img,
image {
  filter: brightness(var(--native-dark-brightness)) !important;
}



/* CUSTOM -- CUSTOM -- CUSTOM -- CUSTOM */
/* CUSTOM -- CUSTOM -- CUSTOM -- CUSTOM */
/* CUSTOM -- CUSTOM -- CUSTOM -- CUSTOM */
/* v4.1 */

:root {
  /* vv PROFILE 2 OPTIONS vv*/

  --duplicate-booking-color: #911d1d;           /* dashboard booking colour for duplicate bookings */

  --own-booking-color: #5779a1;                 /* dashboard booking colour for your OWN trips*/
  --app-booking-color: #314557;                 /* dashboard booking colour if you're highlighting app trips */

  --whatsapp-tripcolour: #659a60;               /* the outline that appears on bookings when you have the whatsapp chat open */

  --whatsapp-chat-window-size: 100%;              /* 100% is default size, sets the whatsapp window size uniformally */
  --whatsapp-chat-window-move-X: 0px;             /* by how many pixels to move the whatsapp window (HORIZONTALLY) */
  --whatsapp-chat-window-move-Y: 0px;             /* by how many pixels to move the whatsapp window (VERTICALLY) */
  --whatsapp-chat-window-height: 50%;             /* default whatsapp chat window height*/

  --phonenumber-base-color: #b7addb;            /* the phone numbers base color */
  --phonenumber-click-color: #e4734d;           /* the color that flashes when you right click the number */

  --lookup-highlight-tripcolour: #a426af;                   /* the outline for highlighted  trips by lookup */
  --lookup-highlight-trip-background-colour: #000000;       /* the background colour for highlighted trips by lookup */

  /* ^^ PROFILE 2 OPTIONS ^^ */

  --new-yellow: #b97229;
  --new-green: #00763F;
  --bk-new: var(--new-yellow);
  --bk-finish: var(--new-yellow);

  --darker-phonenums: color-mix(in srgb, var(--phonenumber-base-color), black 40%);
  --evendarker-phonenums: color-mix(in srgb, var(--phonenumber-base-color), black 70%);

  --d-phonecopy: color-mix(in srgb, var(--phonenumber-click-color), black 40%);
  --dd-phonecopy: color-mix(in srgb, var(--phonenumber-click-color), black 70%);

  --shadow1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  /* disable transitions */
  transition: none !important;
}

.ns-lookupfield {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  outline: 2px solid #363535;
  border-radius: 4px;
  gap: 8px;

  width: 100%;
}

.ns-lookupfield input {
  background-color: var(--lookup-highlight-trip-background-colour);
  border: 1px solid var(--lookup-highlight-tripcolour);
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  height: 40px;
}

.booksStatisticsCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;

  padding: 4px;
  margin-left: 6px;
  margin-right: 6px;

  border-radius: 4px;
  outline: 2px solid gray;

  width: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.filterHide {
  filter: brightness(50%);
}

.filterBlur {
  filter: blur(150%);
}

.whatsappstate_new {
  outline: 2px dotted #ebad28 !important;
  border: none !important;
}

.whatsappstate_accepted {
  outline: 2px solid #2862dd !important;
  border: none !important;
}

.whatsappstate_arrived {
  outline: 2px dotted #d45134 !important;
  border: none !important;
}

.whatsappstate_started {
  outline: 2px solid #369950 !important;
  border: none !important;
}

.whatsappstate_reached_paid {
  outline: 2px dotted #2e7742 !important;
  border: none !important;
}


.flex.align-items-center.bg-white.p-3.gap-3.border-bottom-1.surface-border.cursor-pointer.mb-1 {
  outline: 2px solid gray;

  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px !important;
  border-radius: 12px;
}


.flex.bg-white.align-items-center.justify-content-between.w-full.shadow-2.z-1 {
  background: #1d1d22 !important;
  border-bottom: 2px solid gray;
  box-shadow: var(--shadow1);
}

.newsettings {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  background-color: #000;
  outline: 1px solid rgb(126, 115, 115);
  border-radius: 8px;

  padding: 12px;

  position: fixed;
  z-index: 999;
  inset: auto 180px 90px auto;
  gap: 12px;
  width: 400px;
  height: auto;
}

.ns-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  gap: 10px;
  width: 100%;

  border: 2px solid green;
  border-radius: 6px;


  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-color: #1d1c1c;
}

.ns-row:hover {
  filter: brightness(120%);
}

.ns-row:hover * {
  color: rgb(153, 201, 153);
}

.ns-row:active {
  filter: brightness(80%);
}

img[isbookingicon] {
  background-color: #000;
  border-radius: 100%;
}


.timeDiffAccepted {
  background-color: #2c63b6;
  border: 2px solid color-mix(in srgb, #2c63b6, black 70%);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  color: #fff;
}

.timeDiffArrived {
  background-color: #bb5f48;
  border: 2px solid color-mix(in srgb, #bb5f48, black 70%);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  color: #fff;
}

.timeDiffBooked {
  background-color: #405745;
  border: 2px solid color-mix(in srgb, #405745, black 70%);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  color: #fff;
}


.selectedDriverTag {
  background-color: #282c35;
  border: 2px solid color-mix(in srgb, #282c35, black 70%);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  color: #fff;
}

.acceptedWarn-highlight {
  outline: 3px solid #4c64a7;
  filter: brightness(120%);
  box-shadow: var(--shadow1);
}

.arrivedWarn-highlight {
  outline: 3px solid #a74f4c;
  filter: brightness(120%);
  box-shadow: var(--shadow1);
}

.whatsapp-highlight {
  outline: 4px solid var(--whatsapp-tripcolour);
  filter: brightness(130%);
  box-shadow: var(--shadow1);
}

.lookup-highlight {
  outline: 4px solid var(--lookup-highlight-tripcolour);
  filter: brightness(130%);
  box-shadow: var(--shadow1);

  background: var(--lookup-highlight-trip-background-colour) !important;
}

.setting-buttonbase {
  box-shadow: var(--shadow1);
  position: fixed;
  z-index: 99;
  inset: auto 180px 30px auto;
  width: 150px;
  height: 45px;

  text-align: center;
  font-family: "Segoe UI";
  font-weight: bold;
  justify-content: center;

  padding: 6px;
  background: var(--native-dark-bg-color);
  color: white;

  border-radius: 6px;
  outline: 2px solid white;
  border: none;

  transition: 0.2s all ease-in-out;
}

.container-bookinginfo {
  inset: auto 1000px 30px auto;
  width: 900px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 1px solid black !important;
}

.container-bookinginfo span {
  font-weight: lighter;
}

.container-bookinginfo:hover {
  filter: none !important;
  cursor: default !important;
}

.setting-fetchbookings {
  inset: auto 580px 30px auto;
}

.setting-checkapptrips {
  inset: auto 380px 30px auto;
}

.setting-newchecker {
  inset: auto 180px 30px auto;
}

.setting-buttonbase {
  position: fixed;
  z-index: 99;
  width: 150px;
  height: 45px;

  text-align: center;
  font-family: "Segoe UI";
  font-weight: bold;
  justify-content: center;

  padding: 6px;
  background: var(--native-dark-bg-color);
  color: white;

  border-radius: 6px;
  outline: 2px solid white;
  border: none;

  transition: 0.2s all ease-in-out;
}

.setting-buttonbase:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.owntrip {
  background: var(--own-booking-color) !important;
}

.alt-owntrip {
  background: var(--app-booking-color) !important;
}

.notif-arrived {
  outline: 1px solid var(--arrived-orange);
}

.cust_phonecopy,
a.cust_phonecopy,
a[href^="tel:"].cust_phonecopy {
  color: var(--phonenumber-click-color) !important;
  background-color: var(--dd-phonecopy) !important;
  outline: 1px solid var(--d-phonecopy) !important;
}

a[href^="tel:"] {
  color: var(--phonenumber-base-color) !important;
  background-color: var(--evendarker-phonenums) !important;
  outline: 1px solid var(--darker-phonenums) !important;
  border-radius: 3px !important;
}

/* NEW */
html[native-dark-active] .p-tag.p-tag-warning {
  background-color: var(--bk-new) !important;
}

/* FINISHING */
span.p-tag.p-component.p-tag-warning {
  background-color: var(--bk-finish) !important;
}

/* DUPLICATE BOOKING */
html[native-dark-active] td.bg-yellow-100 {
  background-color: var(--duplicate-booking-color) !important;
}

.chat-details-modal .messages-container {
  background: #313134 !important;
}


/* WHATSAPP TEXTBOX */

/* RECEIVER */
.flex.flex-column.w-max.p-2.gap-2.border-round-md.shadow-2.relative {
  background: #1c1c1f !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

/* SENDER */
.flex.flex-column.w-max.p-2.gap-2.border-round-md.shadow-2.relative:has(small) {
  background: #292930 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.flex.flex-column.w-max.p-2.gap-2.border-round-md.shadow-2.relative small {
  font-size: 0.8rem;
  padding: 0.5rem;
  background-color: #383847;
  border-radius: 6px;
  margin-bottom: 6px;
}

/* TRANSFER MODAL */
.p-3.flex.align-items-center.cursor-pointer.hover\:surface-100 span {
  color: #fff !important;
}

.flex.flex-column.h-full .p-3,
.overflow-y-auto.flex-1.px-3,
.flex.align-items-center.justify-content-between.p-3.border-round,
p.text-sm.mb-2 {
  background-color: var(--native-dark-bg-color) !important;
  color: #fff !important;
}

.p-inputtext {
  background-color: var(--native-dark-bg-color) !important;
}

button.p-button.p-component.w-6.font-bold.p-button-secondary {
  background-color: #1c1c1f !important;
}

button.p-button.p-component.w-6.font-bold.p-button-secondary span {
  color: #fff !important;
}

span.bg-orange-500.border-circle.flex.align-items-center.justify-content-center {
  background-color: #cf7429 !important;
  border-color: #cf7429 !important;
}

.bg-green-500.border-circle.flex.align-items-center.justify-content-center {
  background-color: #51a861 !important;
  border-color: #51a861 !important;
}

/* END OF WSP */


/* WHATSAPP HIDE */
.flex-column.fixed.overflow-hidden.z-5.md\:w-30rem.border-round-lg.surface-100.shadow-4.chat-container {
  transition: all 0.5s ease;
}

.flex-column.fixed.overflow-hidden.z-5.md\:w-30rem.border-round-lg.surface-100.shadow-4.chat-container {
  height: var(--whatsapp-chat-window-height);
  transform: translateX(var(--whatsapp-chat-window-move-X)) translateY(var(--whatsapp-chat-window-move-Y)) scale(var(--whatsapp-chat-window-size));

  resize: both;
  overflow: auto;
}


.flex-column.fixed.overflow-hidden.z-5.md\:w-30rem.border-round-lg.surface-100.shadow-4.chat-container:has(.p-button.p-button-danger:hover) {
  outline: 4px dotted white;
  filter: opacity(20%);
}

/* WHATSAPP OPTIONS */
button.p-button.p-component.p-button-text.p-button-icon-only {
  color: white !important;
}

/* FAVORITE DRIVER TEXT */
button.p-button.p-component.p-button-rounded.p-button-text span.p-badge.p-component.p-badge-no-gutter {
  color: #fff !important;
}

i.pi.pi-check {
  color: #aee8bf !important;
}

html[native-dark-active] .p-badge.p-badge-warning {
  background: var(--new-yellow) !important;
}

span.bg-red-500.border-circle.border-2.md\:border-none.border-white.w-1rem.md\:w-2rem.h-1rem.md\:h-2rem.flex.align-items-center.justify-content-center {
  background: #cb3838 !important;
}

span.bg-orange-500.border-circle.border-2.md\:border-none.border-white.w-1rem.md\:w-2rem.h-1rem.md\:h-2rem.flex.align-items-center.justify-content-center {
  background: var(--new-yellow) !important;
}

span.bg-green-500.border-circle.border-2.md\:border-none.border-white.w-1rem.md\:w-2rem.h-1rem.md\:h-2rem.flex.align-items-center.justify-content-center {
  background: #84be52 !important;
  outline: 4px solid #c3deab;
}

/* DRIVER PAGE BT */
.p-paginator-page.p-paginator-element.p-link.p-paginator-page-start.p-highlight,
.p-paginator-page.p-paginator-element.p-link.p-paginator-page-end.p-highlight,
button.p-paginator-page.p-paginator-element.p-link.p-highlight {
  background-color: #395c43 !important;
}

/*HEADER TEXT*/
h6.MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap {
  color: #fff !important;
}

/* CHAT DRIVER NAMES */
.flex.flex-nowrap.justify-content-between.align-items-center.border-1.surface-border.border-round.p-3.cursor-pointer.select-none.hover\:surface-hover.transition-colors.transition-duration-150 span {
  color: white !important;
}

.flex.flex-nowrap.justify-content-between.align-items-center.border-1.surface-border.border-round.p-3.cursor-pointer.select-none.hover\:surface-hover.transition-colors.transition-duration-150:hover {
  border: 2px solid white !important;
}


/* BUTTONS COLORS */

.MuiButton-contained {
  background: var(--new-green) !important;
  filter: saturate(50%);
}

/* ROW HIGHLIGHT */
tr.p-selectable-row:hover {
  filter: brightness(150%);
}

/* BOOKINGS */
/*
.p-datatable.p-datatable-striped .p-datatable-tbody>tr.p-row-odd {
  background-color: #303030 !important;
}
  */


/* CUSTOM -- CUSTOM -- CUSTOM -- CUSTOM */
/* CUSTOM -- CUSTOM -- CUSTOM -- CUSTOM */
/* CUSTOM -- CUSTOM -- CUSTOM -- CUSTOM */